*{
    padding: 0;
    margin: 0;
}

/* //////////////////main-navbar////////////////// */
.main-navbar{
    display: flex !important;
    height: 70px;
    width: 100%;
    background:rgb(51, 53, 69);
    padding-left: 150px;
    padding-right: 150px;
}
.main-nav-left{
    width: 70%;
    padding-top: 14px;
    /* background-color: RED; */
}
.main-nav-right{
    width: 30%;
    padding-top: 20px;
    /* background-color: yellow; */
}
.main-nav-left img{
    width: 13%;
}
.main-nav-left input{
    margin-left: 8px;
    padding: 5px 360px 5px 10px;
    border-radius: 4px;
}
.main-nav-right select{
    border: none;
    color: white;
    background-color: transparent;
}
/* .main-nav-right a{
    text-decoration: none;
    background-color: rgb(248, 68, 100);
    border: 1px solid rgb(248, 68, 100);
    padding: 2px 10px 6px 10px;
    margin-left: 10px;
    border-radius: 3px;
    color: white !important;
    font-weight: 400;
    font-size: 13px;
} */
.main-nav-right a{
    text-decoration: none;
    background-color: rgb(248, 68, 100);
    border: 1px solid rgb(248, 68, 100);
    padding: 2px 10px 6px 10px;
    margin-left: 10px;
    border-radius: 3px;
    color: white !important;
    font-weight: 400;
    font-size: 13px;
}
.main-nav-right i{
    color: white;
    margin-left: 24px;
    font-size: 23px;
}

/* //////////sec-navbar////////// */

.sec-navbar{
    height: 40px;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 5PX;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    background: rgb(31, 37, 51);;
}
.sec-nav-left,.sec-nav-right{
    display: flex;
    gap: 15px;
}
.sec-navbar a{
    color: rgb(221, 221, 221);
    text-decoration: none;
    font-size: 14px;
    transition: .2s;
}
.sec-navbar a:hover{
    color: white;
}
.sec-nav-right a{
    font-size: 12px;
}

/* //////////movei-list/////////// */
.movie-list{
    padding-left: 50px !important;
    padding-right: 50px !important;
    
}
.fifa-banner{
    width: 100%;
    margin-top: 50px;
}
.rec-moveis-seaall{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.movie-list h4{
    font-size: 25px;
    font-weight: 700;
}
.see-all{
    color: rgb(248, 68, 100);
}
.movies img{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
.movies-p1{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 0 !important;
}
.movies-p2{
    color: rgb(97, 97, 97);
}
.endless-banner img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* ///////////play-now///////////// */
.play-now{
    width: 100%;
    height: auto;
    background-color: rgb(43, 49, 72);
    padding-bottom: 30px;
}
.playnow{
    width: 100%;
}
#play-now-para{
    color: white;
}
#play-now-para-2{
    color: aliceblue;
}
.premear{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0 !important;
}
.brand-para{
    color: white;
    margin-top: 0 !important;
}
/* /////////////////first-footer//////////// */
.footer-first-section{
    width: 100%;
    height: 80px;
    background-color: rgb(49, 48, 53);
    padding-top: 20px;
   
}
.fa-home{
    color: white;
    font-size: 35px !important;
    margin-right: 20px;
}
.list-show-text{
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}
.gotashow-text{
    color: white;
}
.footer-content{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.footer-content button{
    background-color: rgb(248, 68, 100);
    border: 1px solid rgb(248, 68, 100);
    margin-left: 160px;
    padding: 7px 20px;
    color: white;
    border-radius: 3px;
}
/* ////////////////footer-option-section/////////////// */
.footer-option-section{
    background-color: rgb(64, 64, 67);
    width: 100%;
    height: 100px;
    /* padding: 20px; */
    padding-left: 210px;
    padding-right: 210px;
    /* padding: 20px; */
    display: flex;
}
.cstmer{
    text-align: center;
    /* background-color: yellow; */
    height: 100px;
    padding: 20px;
    width: 33%;
}
.resend-booking{
    text-align: center;
    /* background-color: red; */
    height: 100px;
    padding: 20px;
    width: 33%;
}
.sbscrb{
    text-align: center;
    /* background-color: green; */
    height: 100px;
    width: 33%;
    padding: 20px;
}
.footer-option-section i{
    color: rgb(175, 175, 175);
    font-size: 40px;
    margin-bottom: 10px;
}
.footer-option-section p{
    color: rgb(175, 175, 175);
    font-size: 10px;
}
.ul-logo{
    padding-top: 30px !important;
    background-color: rgb(64, 64, 67);
    width: 100%;
    height: 100px;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}
.ul{
    height: 23px;
    width: 90% !important;
    border-bottom: 1px solid rgb(130, 130, 130) !important;
}
.ul-logo img{
    width: 100%;
    
}
.social-links{
    text-align: center;
    background-color: rgb(64, 64, 67);
    padding-bottom: 20px;
    padding-top: 20px
}
.social-links i{
    color: rgb(64, 64, 67);
    background-color: grey;
    padding: 7px ;
    font-size: 23px;
    margin-right: 5px;
    border-radius: 100%;
    
}
.social-links i:hover{
    background-color: white;

}
.social-links p{
    color: grey;
    font-size: 10px;
    margin-top: 20px;
}